@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', system-ui;
  }
  
  body {
    font-family: 'Poppins', system-ui;
  }

  .font-modak {
    font-family: 'Modak', system-ui;
    letter-spacing: 0.02em;
  }
}